mail.host=
mail.username=
mail.mail=
mail.password=
mail.port=

timerTask.currentPdbIdList.timeInterval=
timerTask.currentPdbIdList.timeDelay=
timerTask.sessionMap.timeInterval=
timerTask.sessionMap.timeDelay=

currentPdbIds=http://www.rcsb.org/pdb/rest/getCurrent
obsoletePdbIds=http://www.rcsb.org/pdb/rest/getObsolete
